/**
 *  Css 工具类 布局函数
 *	@sideWidth : 宽度
 *  @offsetMargin: 间距
 *  .col-md-resize-custom(100px,0);
 */
/**
 * 自定义字符宽度
 *
 * 	.word-width-custom(20em)
 */
/**
 *  切分列，不适用布局
 *
 */
.split-col-nowrap {
  white-space: nowrap;
  overflow-x: hidden;
}
.split-col-nowrap li {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/******* 工具类*********/
/**
 *  默认 col-md-resize 
 *
 */
.col-md-resize {
  position: relative;
  padding-left: 100px;
  height: auto;
}
.col-md-resize .col-md-side {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
}
.col-md-resize-horizontal {
  position: relative;
  height: auto;
  padding-top: 40px;
  padding-left: 0;
}
.col-md-resize-horizontal .col-md-side {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}
.col-md-resize-horizontal .col-md-side {
  height: 40px;
  width: 100%;
}
.col-md-resize-horizontal .col-md-content {
  width: 100%;
  clear: both;
}
.cut_word_5 {
  width: 5em;
}
.cut_word_10 {
  width: 10em;
}
.cut_word_15 {
  width: 15em;
}
.cut_word_20 {
  width: 20em;
}
.cmp-article-thumb {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cmp-article-thumb.split-col-4 li {
  float: left;
  margin: 0 1%;
  width: 23%;
}
.cmp-article-thumb.split-col-3 li {
  float: left;
  margin: 0 1%;
  width: 31.33333333%;
}
.cmp-article-thumb.split-col-5 li {
  float: left;
  margin: 0 1%;
  width: 18%;
}
.cmp-article-thumb .article-thumb {
  position: relative;
}
.cmp-article-thumb .article-thumb img {
  width: 100%;
  height: 100%;
}
.cmp-article-thumb .article-title,
.cmp-article-thumb h5 {
  text-align: center;
}
.cmp-article-thumb .article-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}
.cmp-article-thumb .article-mask {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 1;
}
.cmp-article-text {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cmp-article-text.line-cut li {
  height: 25px;
  overflow-y: hidden;
}
.cmp-article-text.line-only li {
  padding-right: 0;
}
.cmp-article-text.line-only li .article-more {
  display: none;
}
.cmp-article-text li {
  position: relative;
  padding-right: 100px;
  line-height: 25px;
}
.cmp-article-text .article-more {
  position: absolute;
  right: 0px;
  top: 0;
}
.cmp-iasp-items {
  margin-right: -10px;
  list-style: none;
}
.cmp-iasp-items li {
  width: 220px;
  border: #e5e5e5 1px solid;
  text-align: center;
  float: left;
  margin-right: 10px;
}
.cmp-iasp-items .iasp-item-hd {
  text-indent: 5px;
  line-height: 43px;
  background-color: #fafafa;
  border-bottom: #e5e5e5 1px solid;
  text-align: left;
  color: #777;
  font-size: 13px;
}
.cmp-iasp-items .iasp-item-hd p {
  margin-bottom: 0;
}
.cmp-iasp-items .iasp-item-hd b {
  color: #ff6c02;
}
.cmp-iasp-items .iasp-item-bd {
  padding: 13px;
  position: relative;
}
.cmp-iasp-items .iasp-proto {
  font-size: 12px;
  color: #777;
}
.cmp-iasp-items .iasp-title {
  font-size: 40px;
  font-family: "Arial";
  margin: 0;
  color: #ff4318;
  font-weight: bold;
}
.cmp-iasp-items .btn-reserve {
  width: 118px;
  border: #ff4318 1px solid;
  color: #ff4318;
  font-size: 16px;
}
.cmp-iasp-items .btn-reserve:hover {
  background-color: #ff4318;
  color: #fff;
}
.article-video {
  margin-right: -10px;
}
.article-video li {
  width: 220px;
  height: 160px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.article-video li:hover .article-player {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 100px;
  top: 43px;
  background-color: #000;
}
.article-video .article-more {
  padding: 5px;
  height: 50px;
  bottom: -20px;
  color: #fff;
}
.article-video .article-more a {
  color: #fff;
}
.article-video .article-more h5,
.article-video .article-more span {
  margin: 0;
  position: relative;
  z-index: 10;
  line-height: 20px;
}
.cmp-shop-list {
  list-style: none;
  margin: 0 -13px;
}
.cmp-shop-list li {
  float: left;
  width: 220px;
  height: 80px;
  margin: 20px 13px 0 15px;
}
.cmp-shop-list li a {
  position: relative;
}
.cmp-shop-list li img {
  width: 200px;
  height: 70px;
  border: 0;
}
.cmp-timeline {
  position: relative;
}
.cmp-timeline .line {
  background-color: #c6c6c6;
  bottom: 15px;
  left: 30px;
  position: absolute;
  top: 15px;
  width: 2px;
}
.cmp-timeline .step {
  min-height: 30px;
  position: relative;
  padding-left: 130px;
  padding-top: 2px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.cmp-timeline .step.active .icons-process {
  background-position: -299px -535px;
}
.cmp-timeline .step.active .node-title {
  color: #f60;
}
.cmp-timeline .node-title {
  position: absolute;
  left: 55px;
  top: -4px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  font-family: "sumsim";
}
.cmp-timeline p {
  margin-bottom: 5px;
  font-size: 12px;
  white-space: normal;
  line-height: 22px;
}
.cmp-timeline .icons-process {
  position: absolute;
  left: 23px;
  top: 2px;
}
.cmp-timeline .time {
  margin-right: 20px;
}
/**问答模块**/
.cmp-aq-panel {
  padding: 15px 15px 10px 5px;
  margin-top: 15px;
  background-color: #f2f2f2;
  height: 222px;
}
.cmp-aq-panel .carousel {
  height: 236px;
}
.cmp-aq-panel .carousel-control {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  top: auto;
  bottom: 12px;
  font-size: 18px;
  right: 0;
  left: auto;
}
.cmp-aq-panel .carousel-control:hover {
  color: #b5b5b5;
}
.cmp-aq-panel .carousel-control.left {
  background-color: #ddd;
  background-image: none;
  filter: none;
}
.cmp-aq-panel .carousel-control.right {
  background-color: #ddd;
  background-image: none;
  filter: none;
}
.cmp-aq-panel .left {
  right: 29px;
}
.cmp-aq-panel .glyphicon {
  position: static;
  text-shadow: none;
  font-size: 14px;
}
.cmp-aq-panel dl {
  margin-bottom: 10px;
  display: block;
  min-height: 18px;
}
.cmp-aq-panel dt {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 0;
}
.cmp-aq-panel dd {
  position: relative;
  padding-left: 35px;
}
.cmp-aq-panel .ask {
  max-height: 2em;
  font-size: 25px;
  overflow: hidden;
}
.cmp-aq-panel .ask dt {
  color: #579afc;
}
.cmp-aq-panel .ask dd {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #565656;
}
.cmp-aq-panel .answer {
  font-size: 18px;
  max-height: 6em;
  overflow: hidden;
}
.cmp-aq-panel .answer dt {
  color: #d3d3d3;
}
.cmp-aq-panel .answer dd {
  font-size: 12px;
  line-height: 18px;
  color: #7a7a7a;
}
.cmp-no-data {
  position: relative;
  height: 100%;
}
.cmp-no-data .no-data-box {
  position: absolute;
  left: 50%;
  top: 50%;
}
.cmp-no-data .no-data-text {
  margin-left: -50%;
  margin-top: -50%;
  font-size: 18px;
}
.breadcrumb > li + li:before {
  content: "> " !important;
}
.breadcrumb {
  margin-left: -15px;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 12px;
  font-family: "simsun";
  color: #000;
}
.breadcrumb a {
  color: #000;
}
.breadcrumb .active {
  color: #000;
}
#page_message {
  height: 100px;
  width: 990px;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  color: #808080;
  display: table-cell;
  vertical-align: middle;
  padding-top: 28px;
  line-height: 20px;
}
#page_message.page_mess_error {
  border: 2px solid #ff6c02;
}
#page_message.page_mess_ok {
  border: 2px solid #35d14f;
}
#page_message.page_mess_ok .icons-msg {
  background-position: -438px -73px;
}
#fix-navbar ul {
  position: fixed;
  left: 50%;
  margin-left: 505px;
  bottom: 20px;
  list-style: none;
  padding-left: 20px;
}
#fix-navbar li {
  width: 50px;
  height: 50px;
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
}
#fix-navbar li.pic-text {
  height: 40px;
  background-color: #ececec;
  display: none;
}
#fix-navbar li.pic-text a {
  padding: 0;
}
#fix-navbar li.pic-text a:hover {
  text-decoration: none;
  background-color: #5b697e;
}
#fix-navbar li.pic-text a:hover p {
  color: #fff;
}
#fix-navbar li.pic-text a:hover .icons-fixnav1 {
  background-position: -330px -54px;
}
#fix-navbar li.pic-text a:hover .icons-fixnav2 {
  background-position: -330px -82px;
}
#fix-navbar li.pic-text a:hover .icons-fixnav3 {
  background-position: -330px -112px;
}
#fix-navbar li.pic-text a:hover .icons-fixnav4 {
  background-position: -330px -142px;
}
#fix-navbar li.pic-text a:hover .icons-fixnav5 {
  background-position: -330px -172px;
}
#fix-navbar li.pic-text a:hover .icons-fixnav6 {
  background-position: -330px -202px;
}
#fix-navbar li.pic-text p {
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 0;
  padding-top: 1px;
  color: #8b9db8;
}
#fix-navbar li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px 12px;
}
#fix-navbar li .custom-service:hover {
  padding: 0;
  border: 1px solid #89a1c5;
  background-color: #89a1c5;
}
#fix-navbar li .custom-service:hover .icons-fixnav-lg1 {
  width: 100%;
  height: 100%;
  background-position: -362px -23px;
}
#fix-navbar li.tool-nav a:hover {
  padding: 0;
  border: 1px solid #89a1c5;
  background-color: #89a1c5;
}
#fix-navbar li.tool-nav a:hover .icons-fixnav-lg3 {
  width: 100%;
  height: 100%;
  background-position: -362px -80px;
}
#fix-navbar li a[data-toggle="modal"]:hover {
  padding: 0;
  border: 1px solid #89a1c5;
  background-color: #89a1c5;
}
#fix-navbar li a[data-toggle="modal"]:hover .icons-fixnav-lg2 {
  width: 100%;
  height: 100%;
  background-position: -362px -135px;
}
#fix-navbar .modal-dialog {
  margin-top: 100px;
}
#fix-navbar .modal-content {
  width: 510px;
  height: 370px;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
}
#fix-navbar .panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: none;
}
#fix-navbar .panel div.panel-heading {
  font-size: 16px;
  line-height: 25px;
  padding: 10px 18px 10px 32px;
  color: #000;
  text-indent: 0;
  height: auto;
  background-color: #efefef;
  border: 0;
  margin-top: 0;
}
#fix-navbar .panel div.panel-heading .close {
  font-size: 26px;
}
#fix-navbar .panel .panel-body {
  padding: 20px 30px 0 30px;
}
#fix-navbar .panel .panel-body .col-md-2,
#fix-navbar .panel .panel-body .col-md-10,
#fix-navbar .panel .panel-body .col-md-12 {
  margin: 0;
  min-height: 0;
}
#fix-navbar .panel .panel-body label {
  font-weight: normal;
  font-size: 12px;
  font-family: "宋体";
  margin-bottom: 0;
}
#fix-navbar .panel .panel-body .form-control {
  font-size: 12px;
  border-radius: 0;
}
#fix-navbar .panel .panel-body .col-md-2 {
  text-align: right;
  padding: 0;
}
#fix-navbar .panel .panel-body textarea {
  resize: none;
  height: 99px;
  padding-bottom: 14px;
  padding-right: 6px;
  padding-left: 6px;
  overflow-x: hidden;
}
#fix-navbar .panel .panel-body input[type="radio"] {
  vertical-align: middle;
  margin: 0;
}
#fix-navbar .panel .panel-body .text-center {
  padding-top: 5px;
}
#fix-navbar .panel .panel-body .btn-primary {
  border-radius: 0;
  height: 40px;
  width: 125px;
  font-family: "宋体";
  background-color: #009be3;
  border: 0;
  line-height: 14px;
}
#fix-navbar .panel .panel-body .help-block {
  margin-top: 0;
  margin-bottom: 0;
}
#fix-navbar .panel .panel-body .form-group {
  margin-bottom: 18px;
}
#fix-navbar .panel .panel-body .wordCount {
  font-size: 12px;
  position: absolute;
  bottom: 3px;
  right: 20px;
}
#fix-navbar .panel .panel-body .success {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}
