#set($layout="/demo/layout/layout.html")
#set($title = "文章列表")
<link rel="stylesheet" href="/css/component/component.css" />
<div class="portlet-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">文章列表</div>
                    </div>
                    <div class="panel-body">
                        <ul class="cmp-article-text line-cut line-only">
                            <li>
                                <a href="">试下文章列表新闻组件列表新闻组件列表新闻组件列表新闻组件列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                            <li>
                                <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                            <li>
                                <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                            <li>
                                <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                            <li>
                                <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                            <li>
                                <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                <span class="article-more">2014-12-20</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">图文</div>
                    </div>
                    <div class="panel-body">
                        <ul class="cmp-article-thumb split-col-4 ">
                            <li>
                                <div class="article-thumb">
                                    <img src="${ctx}/images/temp_11.png">
                                    <em class="article-more">2014-02-12</em>
                                </div>
                                <h5 class="article-title">这里是标题</h5>
                            </li>
                            <li>
                                <div class="article-thumb">
                                    <img src="$!{ctx}/images/temp_11.png">
                                    <em class="article-more">2014-02-12</em>
                                </div>
                                <h5 class="article-title">这里是标题</h5>
                            </li>
                            <li>
                                <div class="article-thumb">
                                    <img src="$!{ctx}/images/temp_11.png">
                                    <em class="article-more">2014-02-12</em>
                                </div>
                                <h5 class="article-title">这里是标题</h5>
                            </li>
                            <li>
                                <div class="article-thumb">
                                    <img src="$!{ctx}/images/temp_11.png">
                                    <em class="article-more">2014-02-12</em>
                                </div>
                                <h5 class="article-title">这里是标题</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">col-md-resize</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-resize">
                            <div class="col-md-side" style="background-color:blue">side</div>
                            <div class="col-md-content" style="background-color:red">
                                <ul class="cmp-article-text line-cut">
                                    <li>
                                        <a href="">试下文章列表新闻组件列表新闻组件列表新闻组件列表新闻组件列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                    <li>
                                        <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                    <li>
                                        <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                    <li>
                                        <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                    <li>
                                        <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                    <li>
                                        <a href="">试下文章列表新闻组件效果怎么样来的</a>
                                        <span class="article-more">2014-12-20</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">col-md-resize-horizontal</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-resize-horizontal">
                            <div class="col-md-side" style="background-color:blue">side</div>
                            <div class="col-md-content" style="background-color:red">
                                <ul class="cmp-article-thumb split-col-nowrap">
                                    <li>
                                        <div class="article-thumb">
                                            <img src="$!{ctx}/images/temp_11.png">
                                            <em class="article-more">2014-02-12</em>
                                        </div>
                                        <h5 class="article-title">这里是标题</h5>
                                    </li>
                                    <li>
                                        <div class="article-thumb">
                                            <img src="$!{ctx}/images/temp_11.png">
                                            <em class="article-more">2014-02-12</em>
                                        </div>
                                        <h5 class="article-title">这里是标题</h5>
                                    </li>
                                    <li>
                                        <div class="article-thumb">
                                            <img src="$!{ctx}/images/temp_11.png">
                                            <em class="article-more">2014-02-12</em>
                                        </div>
                                        <h5 class="article-title">这里是标题</h5>
                                    </li>
                                    <li>
                                        <div class="article-thumb">
                                            <img src="$!{ctx}/images/temp_11.png">
                                            <em class="article-more">2014-02-12</em>
                                        </div>
                                        <h5 class="article-title">这里是标题</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
