<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/thirdparty/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<style>
.form-group{
	height:70px;
}
</style>
<body>
    <div class="container">
        <form class="form-inline">
            <fieldset class="row">
                <div id="legend" class="">
                    <legend class="">表单名</legend>
                </div>

                <div class="form-group col-md-6">

                    <!-- Text input-->
                    <label class="control-label col-md-3">Text input</label>
                    <div class="control-field col-md-9">
                        <input placeholder="placeholder" class="input-xlarge" type="text">
                        <div class="help-block">Supporting help text</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-3">Checkboxes</label>

                    <!-- Multiple Checkboxes -->
                    <div class="control-field col-md-9">
                        <input value="Option one" type="checkbox">Option one
                        </label>
                        <label class="checkbox">
                            <input value="Option two" type="checkbox">Option two
                        </label>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3">Inline Checkboxes</label>

                    <!-- Multiple Checkboxes -->
                    <div class="control-field col-md-9">
                        <label class="checkbox inline">
                            <input value="1" type="checkbox">1
                        </label>
                        <label class="checkbox inline">
                            <input value="2" type="checkbox">2
                        </label>
                        <label class="checkbox inline">
                            <input value="3" type="checkbox">3
                        </label>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3">Inline Checkboxes</label>

                    <!-- Multiple Checkboxes -->
                    <div class="control-field col-md-9">
                        <label class="checkbox inline">
                            <input value="1" type="checkbox">1
                        </label>
                        <label class="checkbox inline">
                            <input value="2" type="checkbox">2
                        </label>
                        <label class="checkbox inline">
                            <input value="3" type="checkbox">3
                        </label>
                    </div>

                </div>

                <div class="form-group col-md-12">

                    <!-- Button -->
                    <button class="btn btn-success">Button</button>
                </div>

            </fieldset>
        </form>

    </div>
    <form class="form-horizontal">
        <script src="/thirdparty/requirejs/require.js" type="text/javascript"></script>
        <script src="/js/module.js" type="text/javascript"></script>
        <script type="text/javascript">
            requirejs(["domReady!", 'jquery'], function(dom, jQuery)
            {
                console.log(jQuery);
            });
        </script>
</body>

</html>
