<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="/thirdparty/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>${title}</title>
</head>

<body class="$!{pageClass}" data-module="$!dataModule">
$screen_content
<script src="/thirdparty/requirejs/require.js" data-main="/js/loader.js" type="text/javascript"></script>
<audio height="100" width="100" autoplay loop onload="this.play();">
  <source src="/images/background.mp3" type="audio/mp3" />
</audio>
</body>

</html>
