#set($layout="/mobile/layout/layout.html")
#set($title = "马上放价 兹想新年")
#set($pageClass="active-info")
<div class="wrapper">
	<div class="banner">
		<img class="carImg" src="/images/banner_bg.png" alt="">
	</div>
	<div class="content">
		<article>
			<header class="tit tit-intro"></header>
			<h4>奖品设置：</h4>
			<section>
				<p>
					1、iPhone 6s  3台；2、千万抵价券；3、坚果礼包1000份；4、丝巾500条；5、腾讯QQ猴年大圣公仔300个；6、车团长限定头枕、腰枕各150个。
				</p>	
				<h4>活动形式：</h4>				
				<p>
					<strong>1、答题拆红包 :</strong> 
					扫描二维码进入活动页面，填写正确个人信息（为便于您领取奖品，请填写正确的个人信息和选择经销店），之后进入答题页面，答题拆红包，即可随机获得礼品（
					<b class="red">题目答案可关注各一汽马自达经销商公众号获得</b>
					）；
				</p>
				<p>
					<strong>2、分享领红包：</strong>分享活动页面给朋友，朋友中奖后，分享者可获取相同的奖励。
				</p>
				<p>
					<strong>3、定时红包雨：</strong>定时红包雨是在规定时间段抢红包，里面有各种实物礼品，可多次参与。
				</p>
				<p class="time-list">
					红包雨时刻表：周一至周五：12:30、19:00 ；
				</p>
				<p class="time-list weekend">
					周六至周日：10:00、12:30、15:30、19:00 
				</p>
				<p class="time-list">（还可关注各一汽马自达经销商公众号获取详细的红包雨时刻表）</p>
			</section>
			<header class="tit tit-intro"></header>
			<section>
				<p>
					1、苹果6s需在活动周期内（2016年1月10日-2016年1月31日）购阿特兹车型后，提车时领取（仅限阿特兹车型）。
				</p>
				<p>
					2、抵价券需在所选经销店使用，抵价券可累计使用，但购车抵价券使用最高单车不超过1000元；保险抵用券、售后抵用券使用最高单车不超过500元（仅限一汽马自达车型，抵价券仅限本人使用，不得转让及赠送）
				</p>
				<p>
					3、售后抵用券用于在经销商处购买汽车精品或做汽车保养时抵用工时使用，具体使用规则以各经销商店相关规则为准。
				</p>
				<p>
					4、其他礼品均可在领奖时间内，凭所提交的正确个人信息到所选经销商处领取，实物礼品每人限选领2份，礼品数量有限，先到先得
				（实物礼品包括：iPhone 6s、坚果礼包、丝巾、腾讯QQ猴年大圣公仔、车团长限定头枕&腰枕）
				</p>
				<p>
					5、<strong>活动时间：</strong>2016年1月10日-2016年1月31日
				     <p class="indent-2">
				     	<strong>领奖时间：</strong>2016年1月20日-2016年3月31日
				     </p>
				     <p class="indent-2">
				     	<strong>领奖地点：</strong>个人信息提交页所选经销商
				     </p>
				 </p>
				<p>
					6、本活动优惠不与本品牌其他活动优惠共享。
				</p>
				<p>
					7、本活动最终解释权归一汽马自达华东二区所有。</p>
			</section>
		</article>	
		<a id="btn-top" href="/wechat/index.html">返回首页</a>
	</div>
</div>