#set($layout="/mobile/layout/layout.html")
#set($title = "阿特兹周年庆 钜惠宁波车展")
#set($pageClass="active-info")
<div class="wrapper">
	<div class="content">
		<article>
			<h4>本次宁波国际车展政策介绍：</h4>
			<section>
				<p>
				<strong>阿特兹159800元起</strong> 车展钜惠20000元更送10000元超值礼包
			</p>
			<p>
        <strong>M6自动超值版，119800元起</strong>
			</p>
			<p>
        都市时尚SUV  CX-7 ，159800元-199800元
			</p>
			<p>
        购车可享50%首付，2年免息以及最高6000元置换补贴
			</p>
		</section>
		<header class="tit tit-intro"></header>
			<h4>奖品设置：</h4>
			<section>
				<p>
					5000元海外游1份；  2、百万抵价券；  3、生态盆栽250份；  4、雨伞200份；  5、丝巾50条；
				</p>
				<h4>活动形式：</h4>
				<p>
					<strong>1、答题拆红包 :</strong>
					答题拆红包 : 扫描二维码进入活动页面，填写正确个人信息（为便于您领取奖品，请填写正确的姓名及手机号码），之后进入答题页面，答题拆红包并分享朋友圈之后即可获得礼品；
				</p>
				<p>
					<strong>2、分享领红包：</strong>分享活动页面给朋友，朋友中奖后，分享者可获取相同的奖励。
				</p>
				<p>
					<strong>3、专属红包雨：</strong>全天候红包不停，惊喜不断，随时扫描二维码或点击链接进入，填写正确个人信息后即可参与抢红包。
				</p>
			</section>
			<header class="tit tit-intro"></header>
			<section>
				<p>
					1、5000元海外游需在活动期内 （宁波第25届国际车展：2016年3月25日-2016年3月28日）购阿特兹车型后，提车时领取（仅限阿特兹车型）
				</p>
				<p>
					2、购车抵价券需在活动期内（宁波第25届国际车展：2016年3月25日-2016年3月28日）购车使用，抵价券不可叠加使用（仅限一汽马自达车型，抵价券仅限本人使用，不得转让及赠送）
				</p>
				<p>
					3、其他礼品须在活动时间内（宁波第25届国际车展2016年3月25日-2016年3月28日），凭所提交的正确个人信息到宁波国际车展展台（3号馆1号展台，一汽马自达展台）领取，实物礼品每人限领2份，礼品数量有限，先到先得（实物礼品包括：5000元海外游、生态盆栽、雨伞、丝巾）
				</p>
				<p>
					5、<strong>活动时间：</strong>2016年3月25日-2016年3月28日
				     <p class="indent-2">
				     	<strong>领奖时间：</strong>2016年3月25日-2016年3月28日
				     </p>
				     <p class="indent-2">
				     	<strong>礼品领取地点：</strong>宁波第25届国际车展3号馆1号 一汽马自达展台
				     </p>
				 </p>
				<p>
					6、本活动优惠不与本品牌其他活动优惠共享。
				</p>
				<p>
					7、本活动最终解释权归一汽马自达华东二区所有。</p>
			</section>
		</article>

		<div class="logo">
			<img src="/images/logo.png" />
		</div>
		<a id="btn-top" href="/wechat/index.html">返回首页</a>
		<div class="hide">
			<img src="/images/cde.jpg" />
		</div>
	</div>
</div>
