#set($layout="/mobile/layout/layout.html")
#set($title = "阿特兹周年庆 钜惠宁波车展")
#set($dataModule="module.formdata")
#set($pageClass="apply-info")
<div class="wrapper">
	<div class="content">
		<div class="formBox">
			<form action="#" method="get" class="form-horizontal valiForm" name="signup">
				<input type="hidden" name="ref" value="$!{ref}" />
				<h4 class="form-tlt text-center">请填写正确的姓名与电话以便领取豪礼！</h4>
				<div class="form-group">
					<div class="col-md-12">
                        <input type="text" class="form-control username" name="username" data-rule-required="true" data-msg-required="" placeholder="姓名" required="required" value="" >
                    </div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
                        <input type="text" class="form-control phone" name="mobile" data-rule-required="true" data-msg-required="" placeholder="电话" required="required" value="" data-rule-mobile="true" data-msg-mobile="11">
                    </div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						  <select name="store" required="required" id="agencyStore">
								<option value="" city="">请选择经销商</option>
								<option value="沈半路 万国学院" city="">沈半路 万国学院</option>
								<option value="杭海路 元福学院" city="">杭海路 元福学院</option>
								<option value="艮山东路 美福学院" city="">艮山东路 美福学院</option>
								<option value="莫干山路 康众学院" city="">莫干山路 康众学院</option>
								<option value="天目山路 福通学院" city="">天目山路 福通学院</option>
								<option value="兴园路 萧山万国学院" city="">兴园路 萧山万国学院</option>
								<option value="江陵路 滨江万宏学院" city="">江陵路 滨江万宏学院</option>
								<option value="通运路 余杭万朋学院" city="">通运路 余杭万朋学院</option>
								<option value="东湖北路 余杭万联学院" city="">东湖北路 余杭万联学院</option>
								<option value="莫干山路 余杭联大学院" city="">莫干山路 余杭联大学院</option>
								<option value="金桥北路 富阳通福学院" city="">金桥北路 富阳通福学院</option>
								<option value="玲珑山路 临安福通学院" city="">玲珑山路 临安福通学院</option>
							</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						  <select name="car" required="required" >
								<option value="">请选择车型</option>
								<option value="全新福克斯">全新福克斯</option>
								<option value="新蒙迪欧">新蒙迪欧</option>
								<option value="嘉年华">嘉年华</option>
								<option value="福睿斯">福睿斯</option>
								<option value="金牛座">金牛座</option>
								<option value="探险者">探险者</option>
								<option value="翼虎">翼虎</option>
								<option value="翼搏">翼搏</option>
								<option value="锐界">锐界</option>
								<option value="野马">野马</option>
							</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-center">
               <input type="submit" class="btn submtBtn" value="提交信息">
          </div>
					<!--
					<div class="enter-rules">
						活动规则>>
					</div>
				-->
				</div>

			</form>
		</div>
	</div>
</div>
<div class="logo">
	<img src="/images/logo.png" />
</div>
<div class="hide">
	<img src="/images/cde.jpg" />
</div>
