#set($layout="/mobile/layout/layout.html")
#set($title = "马上放价 兹享新年")
#set($dataModule="module.formdata")
#set($pageClass="apply-info")
<div class="wrapper">
	<div class="content">
		<div class="formBox">
			<form action="#" method="get" class="form-horizontal valiForm" name="signup">
				<input type="hidden" name="ref" value="$!{ref}" />
				<h4 class="form-tlt text-center">请填写正确的姓名与电话以便领取豪礼！</h4>
				<div class="form-group">
					<div class="col-md-12">
                        <input type="text" class="form-control username" name="username" data-rule-required="true" data-msg-required="" placeholder="姓名" required="required" value="" >
                    </div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
                        <input type="text" class="form-control phone" name="mobile" data-rule-required="true" data-msg-required="" placeholder="电话" required="required" value="" data-rule-mobile="true" data-msg-mobile="11">
                    </div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
            <select name="district" id="district" required="required">
            	<option value="">请选择区域</option>
							#set($city='')
							#foreach($store in $stores)
							#if($city!=${store.city} && ${store.city}!=null)
              	<option value="${store.city}">${store.city}</option>
								#set($city=${store.city})
							#end
							#end
            </select>
	        </div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						  <select name="store" required="required" id="agencyStore">
									<option value="" city="">请选择经销商</option>
							</select>
              <select name="store" id="agency" required="required" disabled="disabled" class="hide">
              	<option value="" city="">请选择经销商</option>
								#foreach($store in $stores)
              	<option value="${store.storename}" city="${store.city}">${store.storename}</option>
								#end
              </select>
            </div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-center">
               <input type="submit" class="btn submtBtn" value="提交信息">
          </div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="hide">
	<img src="/images/cde.jpg" />
</div>
