#set($layout="/mobile/layout/layout.html")
#set($title = "长安福特 助威奥运全城健身")
#set($dataModule="module.formdata")
#set($pageClass="apply-info")
<div class="wrapper">
	<img src="/images/rain_red_peckets_bg.png" class="hide">

#if($count==0)
	<video src="${quest.attchUrl}" autoplay="true"></video>
	<div class="browse_count">你是第12名观看本视频的学生</div>
	<div class="anwser_btn">
		<img src="/images/answer.png" width="100%"/>
	</div>
	<div class="content dialog hide">
		<div class="formBox ">
			<form action="" method="get" class="form-horizontal valiForm chioceForm" >
				<input type="hidden" name="id" value="${quest.id}">
				<p class="quest_title">
					${quest.questText}
				</p>
				<div class="form-group">
					<div class="col-md-12">
              <div class="radiobox">
				            <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt1}" >${quest.questOpt1}
				            </label>
				             <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt2}">${quest.questOpt2}
				            </label>
				             <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt3}">${quest.questOpt3}
				            </label>
							<label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt4}">${quest.questOpt4}
				            </label>
			          	</div>
              </div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-center">
                 <input type="submit" class="btn submtBtn" value="提交信息">
            </div>
				</div>
			</form>
		</div>
		<a id="btn-top" href="/wechat/index.html">返回首页</a>
		#else
			<h2 class="msg-title">您已参加过答题</h2>
			<script type="text/javascript">
			setTimeout(function(){
				location.href="/wechat/mygift.html";
			},2000)
			</script>

		#end

	<div id="successModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="choice-modal">
			<img src="/images/success_text.png" class="msg_text">
			<a href="/wechat/openpackage.do" class="sucTogo"></a>
		</div>
	</div>
	<div id="failModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="choice-modal">
			<img src="/images/fail_text.png" class="msg_text">
			<a href="javascript:void(0);" class="failTogo"></a>
			<a href="javascript:void(0);" class="share"></a>
		</div>
	</div>
</div>
</div>
<div class="share_box hide">
	<div class="share_box_mask">
	</div>
	<img src="/images/share_bg.png" class="share_img"/>
</div>
<div id="answer_result" class="hide">
	<div class="content dialog">

		<div class="quest_title">
				正确答案
		</div>
		<p class="ans_text">
			${quest.questAns}
		</p>
	</div>
</div>
<div class="hide">
	<img src="/images/cde.jpg" />
</div>
