#set($layout="/mobile/layout/layout.html")
#set($title = "答题拆红包")
#set($dataModule="module.formdata")
#set($pageClass="apply-info")
<div class="wrapper">
	<!-- <div class="banner">
		<img class="carImg" src="/images/banner_bg.png" alt="">
	</div> -->
	<div class="content">
		<div class="formBox">
			#if($count==0)
			<form action="" method="get" class="form-horizontal valiForm chioceForm">
				<input type="hidden" name="id" value="${quest.id}">
				<header>请答题</header>

				<p>
					${quest.questText}
				</p>
				<div class="form-group">
					<div class="col-md-12">
              <div class="radiobox">
				            <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt1}" >${quest.questOpt1}
				            </label>
				             <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt2}">${quest.questOpt2}
				            </label>
				             <label class="inline">
				              	<input type="radio" name="questans" value="${quest.questOpt3}">${quest.questOpt3}
				            </label>
			          	</div>
              </div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-center">
                 <input type="submit" class="btn submtBtn" value="提交信息">
            </div>
				</div>
			</form>
			#else
			<h2 class="msg-title">您已参加过答题</h2>
			<script type="text/javascript">
			setTimeout(function(){
				location.href="/wechat/mygift.html";
			},2000)
			</script>
			#end
		</div>
	</div>
	<div id="successModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="choice-modal">
			<h3 class="sucTlt">
				<img src="/images/sucess_icon.png" class="icon suc-icon" alt="">
				宝宝好厉害!
			</h3>
			<a href="/wechat/gradredpacket.html" class="sucTogo"></a>
		</div>
	</div>
	<div id="failModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="choice-modal">
			<h3 class="failTlt">
				<img src="/images/fail_icon.png" class="icon fail-icon" alt="">
				正确答案是：
			</h3>
			<p class="ranswer">xx</p>
			<a href="/wechat/gradredpacket.html?ref=$!{user.wxid}" class="failTogo"></a>
		</div>
	</div>
	<div id="redModalBox" class="hide">
		<div class="modal-backdrop fade in" id="backdrop"></div>
		<div class="qrCodeBox">
			<h3>关注我，Get更多豪礼！</h3>
			<img src="/images/erqode_img.png">
			<p>长按二维码</p>
		</div>
	</div>
		<a id="btn-top" href="/wechat/index.html">返回首页</a>
	<footer>
	</footer>
</div>
