#set($layout="/mobile/layout/layout.html")
#set($title = "答题拆红包")
#set($dataModule="module.grared")
#set($pageClass="grabRed")
<div class="wrapper">
	#if($count>0)
		您已参于过答题活动<a href="/wechat/index.html">返回首页</a>
	#else
	<div class="red getRedpkg">

	</div>
	#end
	<div class="red opend hide">
		<div class="giftBox">
			<p class="giftNum hide"></p>
			<p class="giftType"></p>
			<button class="btn" redid="${red.id}">立刻领取</button>
		</div>
	</div>
	<div class="red-foot-man"></div>
</div>
<div class="modal-backdrop fade in hide" id="shareMatte">
	<a href="/wechat/mygift.html"><img src="/images/mygift.png" class="enter_gift"/></a>
</div>
