#set($layout="/mobile/layout/layout.html")
#set($title = "马上放价 兹享新年")
#set($dataModule="module.grared")
#set($pageClass="grabRed")
<div class="wrapper">
	<div class="red getRedpkg">

	</div>
	<div class="red opend hide">
		<div class="giftBox">
			<p class="giftNum hide"></p>
			<p class="giftType"></p>
			<button class="btn" redid="${red.id}">立刻领取</button>
		</div>
	</div>
	<div class="red-foot-man"></div>
</div>
<div class="modal-backdrop fade in hide" id="shareMatte">
	<a href="/wechat/mygift.html"><img src="/images/mygift.png" class="enter_gift"/></a>
</div>
<div class="hide">
	<img src="/images/cde.jpg" />
</div>
