#set($layout="/mobile/layout/layout.html")
#set($title = "阿特兹周年庆 钜惠宁波车展")
#set($dataModule="")
#set($pageClass="index-info")
<div class="wrapper">
	<div class="content">
		<ul class="link-list">
	      <li><a href='/wechat/choice.html?ref=$!{user.wxid}'>答题拆红包</a></li>
	      <li><a href='/wechat/redrain.html?ref=$!{user.wxid}'>专属红包雨</a></li>
	      <li><a href="/wechat/mygift.html?ref=$!{user.wxid}">我的豪礼</a></li>
	      <li><a href="/wechat/active.html?ref=$!{user.wxid}">活动规则</a></li>
	    </ul>
	</div>
	<!-- <div id="footer">
		<footer></footer>
	</div> -->
<div class="logo">
	<img src="/images/logo.png" />
</div>
</div>
<div class="hide">
	<img src="/images/cde.jpg" />
</div>
