#set($layout="/mobile/layout/layout.html")
#set($title = "抢红包")
#set($dataModule="module.validata")
#set($pageClass="index-info")
<div class="wrapper">
	<div class="banner">
		<img class="carImg" src="/images/banner_bg.png" alt="">
	</div>
	<div class="content">
		<ul class="link-list">
	      <li><a href="/m/choice.html">答题拆红包</a></li>
	      <li><a href="/m/redrain.html">定时红包雨</a></li>
	      <li><a href="/m/mygift.html">我的豪礼</a></li>
	      <li><a href="/m/active.html">活动规则</a></li>
	    </ul>
	</div>
	<div id="footer">
		<footer></footer>
	</div>
</div>