#set($layout="/mobile/layout/layout.html")
#set($title = "马上放价 兹享新年")
#set($pageClass="mygift-info")
<div class="wrapper">
	<div class="content">
		<header>

		</header>
		<table class="table">
			<thead>
				<tr>
					<th class="activ-th">活动项目</th>
					<th class="gift-th">您获得的礼品</th>
					<th class="address-th">领取地点</th>
				</tr>
			</thead>
		</table>
		<div class="table-box">
			<table class="table">
				<tbody>
					#foreach($red in $reds)
					<tr>
						<td class="activ-th">${red.source}</td>
						<td class="gift-th">${red.redText}</td>
						<td class="address-th">${red.User.store}</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
		<p class="text-right gift-tips">实物礼品每人限选领2份，礼品数量有限，先到先得</p>
		<div class="">
			<img src="/images/get.png" width="140px" style="margin-top:30px;"/>

			<div class="hide">
				<img src="/images/cde.jpg" />
			</div>
			<div class="qtcode" style="width:120px;height:130px;background-color:#fff;float:right">
				<!-- <img src="/images/qrcode/.jpg"> -->
				<img src="/images/2wm.jpg" width="100%"" />
				<img src="/images/qrcode/${user.store}.jpg" width="100px;" style="margin-left:9px;margin-top:-180px" />
			</div>
		</div>
	</div>
	<a id="btn-top" href="/wechat/index.html">返回首页</a>
	<footer>
	</footer>
</div>
