#set($layout="/mobile/layout/layout.html")
#set($title = "长安福特 助威奥运全城健身")
#set($pageClass="mygift-info")
<div class="wrapper">
	<div class="content">
		<div class="table-box">
			<table class="table">
				<tbody>
					#foreach($red in $reds)
					<tr>
						<td class="activ-th">${red.User.username}</td>
						<td class="gift-th" width="80">${red.redText}</td>
						<td class="address-th">${red.User.store}</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
	</div>
	<a id="btn-top" href="/wechat/index.html">返回首页</a>
	<footer>
	</footer>
</div>
