#set($layout="/mobile/layout/layout.html")
#set($title = "阿特兹周年庆 钜惠宁波车展")
#set($pageClass="mygift-info")
<div class="wrapper">
	<div class="content">
		<div class="table-box">
			<table class="table">
				<tbody>
					#foreach($red in $reds)
					<tr>
						<td class="activ-th">${red.User.username}</td>
						<td class="address-th">${red.User.store}</td>
						<td class="gift-th">${red.redText}</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
	</div>

<div class="logo">
	<img src="/images/logo.png" />
</div>
	<a id="btn-top" href="/wechat/index.html">返回首页</a>
	<footer>
	</footer>
</div>
