#set($layout="/mobile/layout/layout.html")
#set($layout="/mobile/layout/layout.html")
#set($title = "红包雨")
#set($dataModule="module.redrian")
#set($pageClass="redRain")
<div class="wrapper">
	<audio src="/images/6043.mp3" id="getRain">	</audio>
	<div class="content">
		<div class="rain raining0"></div>
		<div class="rain raining1"></div>
		<div class="rain raining2"></div>
		<div class="rain raining3"></div>
		<div class="rain raining0"></div>
		<div class="rain raining1"></div>
		<div class="rain raining2"></div>
		<div class="rain raining3"></div>
	</div>		
</div>