#set($layout="/mobile/layout/layout.html")
#set($layout="/mobile/layout/layout.html")
#set($title = "红包雨")
#set($dataModule="module.redrian")
#set($pageClass="redRain")
<div class="wrapper">
	<div class="content">
		<div class="rain raining0"></div>
		<div class="rain raining1"></div>
		<div class="rain raining2"></div>
		<div class="rain raining3"></div>
		<div class="rain raining4"></div>
		<div class="rain raining5"></div>
		<div class="rain raining6"></div>
		<div class="rain raining8"></div>
	</div>		
</div>