#set($layout="/mobile/layout/layout.html")
#set($layout="/mobile/layout/layout.html")
#set($title = "红包雨")
#set($dataModule="module.redrian")
#set($pageClass="redRain")
<div class="wrapper">
	<div class="content">
		#if(!$isStart)

		<div class="cooldown nexttime">
			#if(!${isJoin})下次红包雨还需时间 #else 本场活动您已参加 #end <span class="time-down" data-time="${cooldown}"></span>
		</div>
		#else
		<div class="rain raining0"></div>
		<div class="rain raining1"></div>
		<div class="rain raining2"></div>
		<div class="rain raining3"></div>
		<div class="rain raining4"></div>
		<div class="rain raining5"></div>
		<div class="rain raining6"></div>
		<div class="rain raining8"></div>
		<div class="cooldown thistime">
			本次红包雨剩余时间 <span class="time-down" data-time="${cooldown}"></span>
		</div>
		#end
	</div>
	<div id="successModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="result-modal">
			<div class="modal-content">
				<h3 class="sucTlt">
					恭喜你！
					<img src="/images/sucess_icon.png" class="icon suc-icon pull-right" alt="">
				</h3>
				<p>获得<span class="giftsp"></span><span class="giftNum hide"></span></p>
			</div>

			<span class="togetBtn">领取豪礼</span>
		</div>
	</div>
	<div id="redfailModalBox" class="hide">
		<div class="modal-backdrop choice-backdrop fade in"></div>
		<div class="result-modal">
			<h3 class="failTlt">
				<img src="/images/fail_icon.png" class="icon fail-icon" alt="">
				哎呀......<br />
				暂时不给力，宝宝下次再来
			</h3>
			<p class="tips">下次红包雨时间是<span class="yellow-sp" data-time="${cooldown}">19:00</span></p>
			<a href="/wechat/index.html" class="gobtn">返回首页</a>
		</div>
	</div>
	<div class="modal-backdrop fade in hide" id="shareMatte">
		<a href="/wechat/mygift.html"><img src="/images/mygift.png" class="enter_gift"/></a>
	</div>
</div>
