
#set($layout='/manager/layout/layout.html')

#set($dataModule="usermanager")
#set($pageClass="manager")

##if($type!='')
<style media="screen" type="text/css" rel="stylesheet">
	.sidebar{display:hidden}
</style>
##end
<!--
awardsType:"iphone6s",
awardsType:"公仔",
awardsType:"车团长限定头枕、腰枕",
awardsType:"丝巾",
awardsType:"坚果礼包",
awardsType:'购车抵价券10',
awardsType:'购车抵价券20',
awardsType:'购车抵价券50',
awardsType:'购车抵价券100',
awardsType:'购车抵价券200',
awardsType:'购车抵价券500',
awardsType:'保险抵用券10',
awardsType:'保险抵用券20',
awardsType:'保险抵用券50',
awardsType:'保险抵用券100',
awardsType:'保险抵用券200',
awardsType:'保险抵用券500',
awardsType:'售后抵用券10',
awardsType:'售后抵用券20',
awardsType:'售后抵用券50',
awardsType:'售后抵用券100',
awardsType:'售后抵用券200',
awardsType:'售后抵用券500',
awardsType:'谢谢参与',
-->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">中奖管理</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>${sname}</h3>
		#if($type!='')
		<div class="btn-toolbar">
			<div class="btn-group">
				<form action="/manager/redmng/list.do">
				<input name="pageIndex" type="hidden" value="${pageIndex}" />
				<input name="type" type="hidden" value="1" />
				请选择门店：
				<select name="store">
						<option value="a8b0c20416853bda54120bf19477ad11">全部</option>
					#foreach($s in $stores)
						<option value="${s.md5}" #if($storename== $s.md5) selected #end>${s.storename}</option>
					#end
				</select>
				<!--
				奖品类型：
				<select name="awardsType">
						<option value="">全部</option>
				</select>
				-->
				<input type="submit" value="搜索">

				</form>
			</div>
			#end
			<a href="/manager/redmng/export.do?#if($storename)store=$!{storename}#end" style="float:right;margin-right:10px;">全部导出excel</a>
		</div>
	</div>
	<div class="col-md-12">
		<table class="table table-striped table-hover dataTable no-footer text-center">
			<thead>
				<tr>
					<th class="text-center" width="10%">序号</th>
					<th class="text-center" width="20%">用户名</th>
					<th class="text-center" width="20%">手机号码</th>
					<th class="text-center" width="20%">领取门店</th>
					<th class="text-center" width="20%">获得奖品</th>
					<th class="text-center" width="20%">来源</th>
				</tr>
			</thead>
			<tbody>
				#foreach($item in $lists)
				#set($pageStart=(${pageIndex}-1)*20+$velocityCount)
				<tr>
					<td class="text-center">${pageStart}</td>
					<td class="text-center">$!{item.User.username}</td>
					<td class="text-center">$!{item.User.mobile}</td>
					<td class="text-center">$!{item.User.store}</td>
					<td class="text-center">$!item.redText</td>
					<td class="text-center">$!item.source</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<nav>
			#if(${pageCount}>0)
			<ul class="pagination">
				#foreach($i in [1 .. ${pageCount}])
				 #if($type!='')
				  <li><a href="/manager/redmng/list.do?pageIndex=${i}&type=1#if($storename)&store=$!{storename}#end">$i</a>
				 #else
				  <li><a href="/manager/redmng/list.do?pageIndex=${i}#if($storename)&store=$!{storename}#end">$i</a></li>
				 #end
				#end
			</ul>
			#end
		</nav>
		记录总数：${total}，共${pageCount}页
	</div>
</div>
